{% extends 'lite_app/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Lite{% endblock %}
   {% block body_block %}
       <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src={% static "images/profile.png" %} alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Oleksandr Teslenko</h1>
                <h1 class="name">Address:</h1>
                <h2 class="desc">40-Rokiv Peremogy, 57A, 19,Zaporizhia</h2>
                <h1 class="name">Phone:</h1>
                <h2 class="desc">+380966300191</h2>
                <h2 class="name">Email:</h1>
                <h2 class="desc">oleksandr.teslenko1991@yandex.ru</h2>
                <h1 class="name">Skype:</h1>
                <h2 class="desc">alexander_winchester</h2>

            </div><!--//profile-->

        </div><!--//container-->

    </header><!--//header-->

   {% endblock %}