{% extends 'lite_app/base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block body_block %}
<h1>Login</h1>

        <form class="form-group"  method="post" action="/lite/login/">
            {% csrf_token %}
            Username: <input type="text" class="form-control" maxlength="30" placeholder="Username" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="form-control" maxlength="16" placeholder="Password" name="password" value="" size="50" />

            <br />
            {% if error %}
            <div ><p class="error_r">{{ error }}</p></div>
            {% endif %}
            <p >{{ dict_inactive }}</p>

            <input class="btn btn-large btn-primary " type="submit" value="submit" />

        </form>

{% endblock %}